@model IEnumerable<schoolTest.Models.Marks>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h4 class="text-white text-capitalize ps-3" style="text-align:center">Marks</h4>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Course</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">First</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Second</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Participation</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Final</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Total</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">Status</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.course.courseName
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.FirstEx
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.SecondEx</p>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.Participation
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.FinalEx
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.TotalMark
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @item.Status
                                            </p>
                                        </div>
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


