@model schoolTest.Models.Teacher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ssn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ssn)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>*@
</div>
</body>
</html>
